<div class="container-fluid" id="mojo-owner-login">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                        <h1>SIGN IN</h1>
                        <img src="images/fb-login.png">
                    </div>
                    <div class="hidden-xs col-sm-1 col-md-1 col-lg-1 divider-login">
                        <img src="images/or-divider.png">
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-md-offset-1 loginH">
                        <h1>SIGN IN WITH EMAIL</h1>
                        <div class="row">
                           <form role="form" name="loginForm" ng-submit="loginSubmit()" novalidate>
                                <div class="col-md-12">
                                    <fieldset class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                                        <label for="email_id">Email ID</label>
                                        <input type="email" name="email" class="form-control" ng-model="loginFormInput.email" id="email_id">
                                        <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Email Field has error.</p>
                                        <p ng-if="error.email" class="help-block">Email id field has error</p>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" name="password" class="form-control" ng-model="loginFormInput.password" id="Password">
                                        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password Field has error.</p>
                                        <p ng-if="error.password" class="help-block">Password id field has error</p>
                                    </fieldset>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <p><a href="#">Forget Password?</a></p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <button type="submit" class="btn btn-default btn-golden pull-right">LOGIN</button>
                                </div> 
                            </form>
                            <p ng-if="msg" class="help-block">{{msg}}</p>
                        </div>
                    </div>
                </div>     
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <hr>
                    <p class="text-color-golden">New around here? <a ui-sref="register" href="#" class="text-color-golden underline">Register Now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".divider-login").height($('.loginH').height());
    });
</script>